# Base requirements from ragene-python-job
anndata==0.10.7
h5py==3.9.0
numpy==1.25.2
pandas==2.2.2
scipy==1.11.1
matplotlib==3.6.3
seaborn==0.12.2
scikit-learn==1.4.2
statsmodels==0.14.0
patsy==0.5.3
tables==3.8.0
numba==0.58.0
networkx==3.1
natsort==8.4.0
packaging==23.1
pytz==2023.3
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
urllib3==1.26.16
certifi==2023.7.22
charset-normalizer==3.2.0